*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    cursor: pointer;
}
.head1{
    position: relative;
    margin: auto;
    width: 1250px;
    height:3200px;
    background:black;
    background-image: url(../web2/images/背景图2.gif);
    background-position: 10px 10px;
}
.headimg{
    width: 100%;
    height: 181px;
    /* background: url(../images/头.png) no-repeat top center; */
    background: url(../web2/images/头.png) no-repeat top center;
}
.head2{
    width:1250px;
    height:50px;
    /* background-color:yellow; */
}
.head2 li{
	text-decoration: none;
	list-style: none;
	float: left;
    padding-top: 20px;
}
.head2 ul li a:hover{
	color: white;
    background-color: red;
    border-radius:15px;
}

.right{
	width:1200px ;	
	height:800px;
    float: right;
   background-color: red;
	/* margin-right:-10px; */
}
.k li{
	width: 276px;
	height:356px;
	border: 1px solid #dad5d5;
	float: left;
	margin-left:5px;
	margin-bottom: 20px;
	margin-top: 10px;
	text-align: center;
	position: relative;
	list-style: none;

}
.leftb{
	width:1250px;
	height:50px;
    margin-top:-200px ;
    margin-left: 20px;
    /* background-color: turquoise; */
}
.leftb a{
	margin-top: 50px;
	margin-left:10px;
	color: black;
}
.k p{
	text-align: center;
	color:black;
}

.chuxian{
    width: 100%;
    height: 100%;
    background-color: #4c4c4c;
    opacity: 0.9;
    display: none;
    position: absolute;
    bottom: 0;
}
.chuxian p{
    margin-top: 50px;
    font-size: 23px;
    color: white;
}

.k li:hover .chuxian{
    display:block;
}

.gengduotuijian{
    width:1250px ;
	height:400px;
    float: right;
    margin-top: 20px;
 
}
.geng li{
    width:275px;
	height:156px;
	border: 1px solid #dad5d5;
	float: left;
	margin-left: 15px;
	margin-bottom: 20px;
	margin-top:10px;
	text-align: center;
	position: relative;
	list-style: none;
}
.geng p{
	text-align: center;
	color:black;
}


.chuxian1{
    width: 100%;
    height:100%;
    background-color: #4c4c4c;
    opacity: 0.9;
    display: none;
    position: absolute;
    bottom: 0;
}
.chuxian1 p{
    margin-top:20px;
    font-size: 20px;
    color: white;
}
.geng li:hover .chuxian1{
    display:block;
}
.bu li:hover .chuxian1{
    display:block;
}
.shenjuright li:hover .chuxian1{
    display:block;
}
.main6nav{
    width: 1100px;
    height: 50px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.main6nav>li{
    text-align: center;
    background:cornflowerblue;
    display: inline-block;
    /* float: left; */
    width: 150px;
    line-height: 40px;
    margin-left: 20px;
    border-radius: 40px;
}
.main6nav>li>a{
    color: black;
    text-align: center;
}
.main6nav>li:hover{
    background:rebeccapurple;
}

.buguoyin{
    width:1250px;
    height:600px;
    margin-top: 220px;
}

.buguoyinleft{
    width:500px;
    height:500px;
}
.buguoyinright{
	width:700px;
    height:590px;
    float: right;
    margin-top:-500px;
}
.bu p{
	text-align: center;
	color:black;
}
.bu li{
    width:275px;
	height:156px;
	border: 1px solid #dad5d5;
	float: left;
	margin-left: 50px;
	margin-bottom:55px;
	margin-top:35px;
	text-align: center;
	position: relative;
	list-style: none;
}

.main4{
    width: 1250px;
    height: 790px;
    margin: auto; 
    position: relative;
    overflow: hidden;
}
.main4>div{
    width: 275px;
	height:355px;
    float: left;
    margin-left: 15px;
    margin-top: 20px;
}
.main4hidden{
    display: block;
    width: 276px;
	height:356px;
    background: #000000;
    opacity: 0.5;
    position: absolute;
    left:-276px;
   
}
.shenju{
    width: 1250px;
    height:550px;
}
.shenjuleft{
    width:500px;
    height:800px;
}
.shenjuright{
    width:700px;
    height:540px;
    float: right;
    margin-top: -540px;
}
.shen li{
    width:275px;
	height:156px;
	border: 1px solid #dad5d5;
	float: left;
	margin-left: 50px;
	margin-bottom:55px;
	margin-top:35px;
	text-align: center;
	position: relative;
	list-style: none;
}
.shen p{
	text-align: center;
	color:white;
}
.shenjuright ul li a:hover{
	color: white;
    background-color: red;
    border-radius:15px;
}
.buguoyinright ul li a:hover{
	color: white;
    background-color:coral;
    border-radius:15px;
}

.last{
	width:1250px ;
	height:300px ;
    border-bottom: 1px solid red;
    margin-top:-120px;
}
.last ul{
	float: left;
	margin-left: 180px;
    list-style: none;
    margin-top:-100px;
}
.last li{
	margin-top:30px ;
	font-size: 15px;
}


/* 放大镜 */

.box1{
    width: 1250px;
    height: 150px;
    position: relative;
}
.box1>ul{
    display: inline-block;
    width: 1250px;
    height: 150px;
    position: absolute;
    top :0px;
}
.box1>ul>li{
    display: inline-block;
    float: left;
    margin-left: 35px;
}



/* 轮播图 */
.top{
	width: 1200px;
	height: 23px;
    background-color: #ccc;
    
}
.head{
	width: 800px;
	height: 20px;
	position: absolute;
	left: 350px;
	overflow: hidden;
	top: 2px;
}
.img{
	position: absolute;
	left: 255px;
	top: 2px;
}
.warning{
	position: absolute;
	width: 370px;
	right: -270px;
}
ul,li{
    list-style:none;
}
.box{
    width:1200px;
    height:397px;
    border:1px solid black;
    margin:100px auto;
    position: relative;
    overflow:hidden;/*是当元素内的内容溢出的时候使它隐藏溢出的部分，即超出部分隐藏。 */
    top:-100px;
}
.slider{
    width:8400px;
    position:absolute;
    left:-1200px;
}
.slide{
    width:1200px;
    float:left;
}
.box>span{
    display: block;
    width:30px;
    height: 40px;
    text-align: center;
    cursor:pointer;
    top:175px;
    line-height: 50px;
    background: rgb(255,0,0);
    font-size: 30px;
    position: absolute;
    opacity: 0;
}
#left{
    top: 220px;
    left:30px;

}
#right{
    top: 220px;
    right: 30px;
}
.nav{
    position: absolute;
    left:500px;
    bottom:20px;
}
.nav>li{
    float: left;
    width: 20px;
    height: 20px;
    background: #ccc;
    cursor:pointer;
    margin:0 10px;
    border-radius: 50%;
    text-align: center;
}
.nav .active{
    /* background: red; */
    background:black
} 